.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b0c10;
    padding-top:10px;
    position: fixed;  
    width: 100vw;
    top: 0;
    transition: transform 0.3s ease-in-out;  
    z-index: 1000; 

}

.navbar.hidden {
    transform: translateY(-100%);  
}

.navbar.visible {
    transform: translateY(0); 
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left:40px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-right: 70px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 0px;
}

.nav-links a:hover {
    background-color: #575757;
}

.menu-toggle {
    display: none; /* Hidden by default */
    flex-direction: column;
    cursor: pointer;
    width:40px;
    height: 40px;
    margin-right: 14px;
    transition: transform 0.3s ease;
}
.menu-toggle.default {
  background-image: url('images/menu.png'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height:40px;
  width:40px;
  transform: rotate(0deg);

  /* Default image */
}

.menu-toggle.toggled {
  background-image: url('images/close.png'); 
  height:40px;
  width:40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(180deg);
  transition: transform 0.3 ease;
}





@media (max-width: 768px) {
.navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #0b0c10; 
        position: fixed; 
        width: 100vw;
        left:0vw; 
        top: 0;
        z-index: 1000; 
        height: 50px;
        padding-bottom: 10px;  
        transform: translateY(0) !important; 
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), 0 20px 50px rgba(0, 0, 0, 0.3); 
        
    }
    .nav-links {
        display: none; 
        flex-direction: column;
        gap:25px;
        justify-content: center;
        align-items:center;
        position: absolute;
        top: 50px; 
        background-color: #0b0c10;
        
        width: 80vw;
        margin-left:20vw;
        padding: 0px 0;
        height:calc(100vh - 50px);
        left:-100%;
        transition: left 1s ease-in-out;
    }

    .nav-links.active {
        display: flex;
        left: 0; 
    }

    .menu-toggle {
        display: flex; 
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;

    }
}
.inner-tab{
    padding-left:22px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width:auto;
}

.inner-tab-no{
    padding-right: 2px;
    color:#ffe400;
    font-family:  Inconsolata, monospace;
    letter-spacing: .25px;
    margin-right: auto;
    padding: 15px 0px 5px 5px;
    
}
.inner-tab-no-resume{
    padding-right: 2px;
    color:#ffe400;
    font-family:  Inconsolata, monospace;
    letter-spacing: .25px;
    margin-right: auto;

}
.inner-tab-text {
    letter-spacing: .25px;
    margin-right: auto;
    padding: 15px 10px 5px 5px;
    font-family: Inconsolata, monospace;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    padding-left: 0;
    margin-left: 5px;
    color:#edeff8;
}
.inner-tab-text-resume {
    letter-spacing: .25px;
    margin-right: auto;
    font-family: Inconsolata, monospace;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    padding-left: 0;
}
.inner-tab-text:hover{
  color: #ffe400;
}