.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b0c10;
    padding-top:10px;
    position: fixed;  /* Fix the navbar at the top */
    width: 100vw;
    top: 0;
    transition: transform 0.3s ease-in-out;  /* Smooth transition */
    z-index: 1000; /* Ensure navbar is on top */

}

.navbar.hidden {
    transform: translateY(-100%);  /* Hide the navbar by moving it upwards */
}

.navbar.visible {
    transform: translateY(0);  /* Show the navbar */
}

.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left:40px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-right: 70px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 0px;
}

.nav-links a:hover {
    background-color: #575757;
}

.menu-toggle {
    display: none; /* Hidden by default */
    flex-direction: column;
    cursor: pointer;
    width:40px;
    height: 40px;
    margin-right: 14px;
    transition: transform 0.3s ease;
}
.menu-toggle.default {
  background-image: url('images/menu.png'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height:40px;
  width:40px;
  transform: rotate(0deg);

  /* Default image */
}

.menu-toggle.toggled {
  background-image: url('images/close.png'); 
  height:40px;
  width:40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(180deg);
  transition: transform 0.3 ease;
}




/* Media Queries */
@media (max-width: 768px) {
    .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#8891b0 ;
    margin-top:0px;
    align-items: center;
    position: fixed;  /* Fix the navbar at the top */
    width: 80vw;
    left:20vw;
    top: 0;
    transition: transform 0.3s ease-in-out;  
    padding-bottom: 10px;

}
    .nav-links {
        display: none; /* Hidden by default */
        flex-direction: column;
        justify-content: center;
        align-items:center;
        position: absolute;
        top: 50px; /* Adjust based on your navbar height */
        background-color: #333;
        width: 100%;
        padding: 0px 0;
        height:100vh;
    }

    .nav-links.active {
        display: flex; /* Show on toggle */
    }

    .menu-toggle {
        display: flex; /* Show the toggle button */
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }
}
.inner-tab{
    padding-left:22px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width:auto;
}

.inner-tab-no{
    padding-right: 2px;
    color:#ffe400;
    font-family:  Inconsolata, monospace;
    letter-spacing: .25px;
    margin-right: auto;
    padding: 15px 0px 5px 5px;
    
}
.inner-tab-no-resume{
    padding-right: 2px;
    color:#ffe400;
    font-family:  Inconsolata, monospace;
    letter-spacing: .25px;
    margin-right: auto;

}
.inner-tab-text {
    letter-spacing: .25px;
    margin-right: auto;
    padding: 15px 10px 5px 5px;
    font-family: Inconsolata, monospace;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    padding-left: 0;
    margin-left: 5px;
    color:#edeff8;
}
.inner-tab-text-resume {
    letter-spacing: .25px;
    margin-right: auto;
    font-family: Inconsolata, monospace;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    padding-left: 0;
}
.inner-tab-text:hover{
  color: #ffe400;
}